<?xml version="1.0" encoding="utf-8"?>
<CSSLTemplate ShaderName="TestDefaultValue" ProgramType="VertexFragment">
  <VertexShaderFieldList>
    <ShaderField Qualifier="In" FieldType="int" FieldName="intvar" FieldValue="int(7)" />
    <ShaderField Qualifier="In" FieldType="vec3" FieldName="vec3Var" FieldValue="vec3(1.0f,1.2f,-3.6f)" />
  </VertexShaderFieldList>
  <GeometryShaderFieldList />
  <FragmentShaderFieldList />
  <IntermediateStructureList />
</CSSLTemplate>